/*****************************
Autor: Félix Lozano Domínguez
Fecha creación:      14/10/2016
Última modificación: 14/10/2016
Versión: 0.01
******************************/

body{
	background-color:PowderBlue;
}